# Ignorar diretórios de build
bin/
obj/

# Ignorar arquivos de configuração de depuração e build
*.dll
*.pdb
*.exe
*.log
*.json

# Ignorar arquivos do VSCode (se houver)
.vscode/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
